/* Universal */

.Font {
    font-family: "Comic Sans MS";
}

.Banner {
    display: block;
    margin: 0 auto;
    width: 30%;
}

/* Navigation */
.Nav {
    margin: 20px;
    border-radius: 30px;
    display: block;
    background-color: #009900;
    text-align: center;
    font-size: 18pt;
    font-weight: 700;
}

.NavItems {
    text-decoration: none;
    margin-right: 50px;
}

/* Login */

.PageFontSize {
    font-size: 20pt;
    margin: 0 auto;
    text-align: center;
}

.LabelLogin {
    text-align: left;
    width: 120px;
}

.LoginForm {
    width: 19%;
    font-size: 15pt;
    margin: 0 auto;
}

.LoginButtonsDiv {
    text-align: center;
    margin: 0 auto;
}

.LoginButton, .RegisterButton {
    width: 130px;
    height: 60px;
    font-size: medium;
    font-weight: 700;
}

.Messages {
    color: #CC3300;
    font-size: 20pt;
    text-align: center;
}

/* Register */

.RegisterForm {
    width: 19%;
    font-size: 15pt;
    display: block;
    margin: 0 auto;
}

.LabelRegister {
    text-align: left;
    width: 120px;
}

.TextboxRegister {
    width: 464px;
}

.RegisterButtonsDiv {
    text-align: center;
    margin: 0 auto;
}

.ConfirmRegButton, .BackButton {
    width: 130px;
    height: 60px;
    font-size: medium;
    font-weight: 700;
}

/* Home */

#ddlManagement {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    user-select: none;
    font-family: 'Comic Sans MS';
    font-weight: 600;
    font-size: 17pt;
    border: 0px #009900 solid;
    margin-right: 50px;
    border-left-color: #009900;
    background-color: #009900;
    color: blue;
}

.ButtonDiv {
    display: inline-block;
    text-align: center;
    padding: 5px 5px 5px 5px;
    width: 33%;
}

.ButtonCovers {
    width: 40%;
    text-align: center;
}

.ButtonBlock {
    text-align: center;
}

/* Sales */

.CustomerDDL {
    width: 300px;
    height: 45px;
    font-size: 20px;
}

.Labels {
    margin: 0 auto;
    text-align: center;
    font-size: 22pt;
}

.CustButton {
    border-radius: 10px;
    font-size: 11.5pt;
    width: 225px;
    height: 50px;
}

.SalesInlineBlock {
    width: 35%;
    display: inline-block;
    text-align: center;
}

.SalesFormView {
    margin: 0 auto;
}

#fvEquipment, #fvCustInfo, #fvOrders, #fvRepairs {
    font-size: 15pt;
}

#fvOrders {
    height: 161px;
}

/* Ordering */

/* Inventory */
.InventoryForm {
    text-align: center;
}

#ddlInventory {
    text-align: center;
    height:100px;
    width:316px;
}

/* Admin */

.AdminButtonBlock {
    display: block;
    text-align: center;
}

.AdminRadioButtons {
    display: inline-block;
    text-align: center;
    margin: 60px 60px 60px 60px;
}

.GenerateButton {
    text-align: center;
    margin: 0 auto;
}

#btnGenerate {
    width: 130px;
    height: 60px;
    font-size: medium;
    font-weight: 700;
}